<?xml version='1.0' encoding='utf-8'?>
<widget id="bergen.maritime" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bergen og Årstad kulturkontor</name>
    <description>
        Webpage as an app
    </description>
    <author email="espen@medialog.no" href="http://www.medialog.no">
        Grieg Medialog AS
    </author>
    <content src="http://mobil.medialog.no" />
    <access origin="http://mobil.medialog.no" />
</widget>
