<?xml version='1.0' encoding='utf-8'?>
<widget id="bergen.maritime" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Welkom</name>
    <description>
        Damesmode
    </description>
    <author email="rkammyte@gmail.com" href="http://www.medialog.no">
        Damesmode
    </author>
    <content src="http://lafemmecollectie.nl" />
    <access origin="http://lafemmecollectie.nl" />
     <icon src="images/logo/icon.png" />
</widget>
